#containerFruitTextAndImage {
    background-size: 100%;
    display: inline;



}

.aboutUsSecondText {
    float: right;
    width: 30%;
    margin-right: 10%;
}

#aboutUsHeader {

}

#aboutUsParagraph {
    text-align: left;


}

.aboutUsText {
    float: left;
    margin-left: 10%;
    width: 40%;
    margin-top: 3%;


}

