.productsCard {
    border: 1px solid #ddd;
    width: 90%;
    margin: 2% 5% 5%;
}

.productsCard h3 {
    padding: 1%;
    width: 100%;
    color: white;
    background: gray;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td {
    border: 1px solid #ddd;
    padding: 12px;
}

th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    background-color: darkgrey;
    color: white;
}

tr:hover {
    background-color: #ddd;
}

tr:nth-child(even){
    background-color: #f2f2f2;
}

.deleteButton {
    background-color: red;
    border: none;
    text-decoration: none;
    color: white;
    padding: 3%;
    font-size: 14px;
    text-align: center;
    border-radius: 8px;
}

.updateButton {
    background-color: green;
    border: none;
    text-decoration: none;
    color: white;
    padding: 3%;
    font-size: 14px;
    text-align: center;
    border-radius: 8px;
}

.createButton {
    background-color: green;
    border: none;
    text-decoration: none;
    color: white;
    padding: 0.8%;
    font-size: 14px;
    text-align: center;
    border-radius: 8px;
    margin-left: 5%;
}

a:hover {
 opacity: 0.8;
}

main {
    margin-top: 2%;
}